@model BusinessObjects.Models.NewsArticle

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NewsArticle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryDesciption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.AccountId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NewsArticleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
